.agent-card {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 300px;
  width: 300px;
}

.agent-card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
