*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.App {
  height: 100vh;
}

.header {
  display: flex;
}

.header a {
  text-decoration: none;
  display: inline-block;
  padding: 5px 10px 5px 5px;
  color: white;
  transition: all .2s;
  font-size: 16px;
}

.header a:hover {
  transform: scale(1.05);
}

.header a:active {
  transform: scale(.9);
}